# Python Coding Sessions

## Session #1

Content:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Variable Assignment
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
____

## Data types

### Numbers

In [93]:
# Integers - This value is represented by int class.
int()

0

In [94]:
1 + 1

2

In [95]:
1 * 3

3

In [96]:
# Division(float) of number
1 / 2

0.5

In [97]:
# Division(floor) of number
a // b

NameError: name 'a' is not defined

In [98]:
# Power
2 ** 4

16

In [99]:
# Modulus: returns the remainder when the first operand is divided by the second.
4 % 2

0

In [100]:
5 % 2

1

In [101]:
(2 + 3) * (5 + 5)

50

In [102]:
# Float - This value is represented by float class.
float()

0.0

In [103]:
1.2 + 1.4

2.5999999999999996

### Booleans

In [104]:
# True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.
# This value is represented by bool class.
bool()

False

In [105]:
true

NameError: name 'true' is not defined

In [106]:
True

True

In [107]:
False

False

### Sets

In [108]:
# Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.
# This value is represented by set class.
# Type of elements in a set need not be the same, various mixed-up data type values can also be passed to the set.
# Sequence should be inside curly braces.
set()

set()

In [109]:
{1,2,3}

{1, 2, 3}

In [110]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [111]:
{'a', 1, False}

{1, False, 'a'}

# Sequence Type

Sequence is the ordered collection of similar or different data types. Sequences allows to store multiple values in an organized and efficient fashion. There are several sequence types in Python.

* String
* List
* Tuple

### Strings

Strings are arrays of bytes representing Unicode characters.

A string is a collection of one or more characters put in a single quote, double-quote or triple quote.
In python there is no character data type, a character is a string of length one.

In [112]:
str()

''

In [113]:
'single quotes'

'single quotes'

In [114]:
"double quotes"

'double quotes'

In [115]:
"""triple quotes"""

'triple quotes'

In [116]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [117]:
"""wrap lot's of "other" quotes"""

'wrap lot\'s of "other" quotes'

Escape sequences start with a backslash and can be interpreted differently

In [118]:
'wrap lot\'s of \"other\" quotes'

'wrap lot\'s of "other" quotes'

In [119]:
# To ignore the escape sequences in a String, r or R is used.
r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"

'This is \\x47\\x65\\x65\\x6b\\x73 in \\x48\\x45\\x58'

You can also scape them

In [120]:
"This is \\x47\\x65\\x65\\x6b\\x73 in \\x48\\x45\\x58"

'This is \\x47\\x65\\x65\\x6b\\x73 in \\x48\\x45\\x58'

In [121]:
# In Python, individual characters of a String can be accessed by using the method of Indexing.
"double quotes"[0]

'd'

Indexing allows negative address references to access characters from the back of the String.

In [122]:
"double quotes"[-1]

's'

In [123]:
'a' + 'b'

'ab'

In [124]:
'a' * 3

'aaa'

### Printing

In [125]:
x = 'hello'

str() is used for creating output for end user.

In [126]:
x

'hello'

In [127]:
x.__str__()

'hello'

In [128]:
str(x)

'hello'

In [129]:
y = 1

In [130]:
y

1

In [131]:
str(y)

'1'

In [132]:
print(y)

1

Print objects to the text stream file

In [133]:
print(x)

hello

In [134]:
type(print(y))

1

NoneType

In [135]:
type(y)

int

In [136]:
print("""wrap lot's of "other" quotes""")

wrap lot's of "other" quotes

In [137]:
num = 12
name = 'Sam'

In [138]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [139]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [140]:
print("My name is {fname}, I'm {age}".format(fname = "John", age = 36))

My name is John, I'm 36

In [141]:
# Formatting Types
print("For only {price:.2f} dollars!".format(price = 49))

For only 49.00 dollars!

In [142]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [143]:
print("My name is", 'John')

My name is John

In [144]:
name = 'John'
print("My name is", name)

My name is John

In [145]:
list_of_numbers = [1,2,3]
numbers = 1
char_string = "test"
 
# printing the objects
print(list_of_numbers,numbers,char_string, sep="<<..>>")

[1, 2, 3]<<..>>1<<..>>test

### Lists

Lists are just like the arrays, declared in other languages which is a ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

In [146]:
list()

[]

In [147]:
[1,2,3]

[1, 2, 3]

In [148]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [149]:
my_list = ['a','b','c']

In [150]:
my_list.append('d')

In [151]:
my_list

['a', 'b', 'c', 'd']

In [152]:
my_list[0]

'a'

In [153]:
my_list[1]

'b'

In [154]:
my_list[1:]

['b', 'c', 'd']

In [155]:
my_list[:1]

['a']

In [156]:
my_list[0] = 'NEW'

In [157]:
my_list

['NEW', 'b', 'c', 'd']

In [158]:
nest = [1,2,3,[4,5,['target']]]

In [159]:
nest[3]

[4, 5, ['target']]

In [160]:
nest[3][2]

['target']

In [161]:
nest[3][2][0]

'target'

### Tuples

Just like list, tuple is also an ordered collection of Python objects. The only difference between tuple and list is that tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by tuple class.

Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple.

In [162]:
tuple()

()

In [163]:
(1, 2)

(1, 2)

In [164]:
('1')

'1'

In [165]:
('1',)

('1',)

In [166]:
tuple(1,2,3,4,5)

TypeError: tuple expected at most 1 argument, got 5

In [167]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [168]:
tuple([1])

(1,)

In [169]:
t = (1,2,3)

In [170]:
t[0]

1

In [171]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [172]:
import time
 
l=list(range(1000001))
t=tuple(range(1000001))
 
start = time.time_ns()
for i in range(len(t)):
    a = t[i]
end = time.time_ns()
print("Total lookup time for Tuple: ", end - start)
 
start = time.time_ns()
for i in range(len(l)):
    a = l[i]
end = time.time_ns()
print("Total lookup time for LIST:  ", end - start)

Total lookup time for Tuple:  73998600
Total lookup time for LIST:   76754200

### Dictionaries

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.

In [173]:
d = {'key1':'item1','key2':'item2'}

In [174]:
d

{'key1': 'item1', 'key2': 'item2'}

In [175]:
d['key1']

'item1'

In [176]:
d.get('key1')

'item1'

### Variable Assignment

In [177]:
# Can not start with number or special characters
name_of_var = 2

In [178]:
x = 2
y = 3

In [179]:
z = x + y

In [180]:
z

5

### Delete Variables

In [181]:
del z

In [182]:
z

NameError: name 'z' is not defined

## Comparison Operators

In [183]:
# Greater than
1 > 2

False

In [184]:
# Less than
1 < 2

True

In [185]:
# Greater than or equal to
1 >= 1

True

In [186]:
# Less than or equal to
1 <= 4

True

In [187]:
# Equal
1 == 1

True

In [188]:
'hi' == 'bye'

False

In [189]:
# Not equal
1 != 1

False

## Logic Operators

In [190]:
(1 > 2) and (2 < 3)

False

In [191]:
(1 > 2) or (2 < 3)

True

In [192]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### Membership Operators

In [193]:
x = 24
y = 20
list_of_numbers = [10, 20, 30, 40, 50]

In [194]:
x in list_of_numbers

False

In [195]:
x not in list_of_numbers

True

## if,elif, else Statements

In [196]:
if 1 < 2:
    print('Yep!')

Yep!

In [197]:
if 1 < 2:
    print('yep!')

yep!

In [198]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [199]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [200]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [201]:
seq = [1,2,3,4,5]

In [202]:
for item in seq:
    print(item)

1
2
3
4
5

In [203]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [204]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [205]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4